<%- include("partials/header"); -%>
<div class="padding"></div>
<div class="container">
	<h1 class="page-header">Compose</h1>
	<form action="/compose" method="post">
		<div class="form-group">
			<label>Title</label>
			<input  class="form-control" type="text" name="postTitle">
			<label>Post</label>
			<textarea class="form-control" type="text" rows="5" cols="30" name="postBody"></textarea>
		</div>
		<button class="btn btn-primary" type="submit" name="button">Publish</button>
	</form>
</div>
<%- include("partials/footer"); -%>
