.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #e8e8e8;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.read-more {
    text-decoration:none !important;
}

.jumbotron {
    background-color: #e8e8e8;
}

.main-color{
    background-color: #f4f4f2;
}

.max-lines {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
}

.post a{
    display:block;
    text-align: right;
    margin :10px auto 5px auto;
}

.padding {
    padding-bottom: 40px;
}

.footer{
    text-align: center;
}

.form-control {
    white-space: pre-wrap;
}

.text-style {
    white-space: pre-line;
}
